%svg-common {
    background: url("source-13ead5d1.svg") no-repeat;
}

.i-01 {
    @extend %svg-common;
    background-position: 0 100%;
}

.i-01-dims {
    width: 36px;
    height: 36px;
}

.i-02 {
    @extend %svg-common;
    background-position: 0 0;
}

.i-02-dims {
    width: 46px;
    height: 46px;
}

.i-03 {
    @extend %svg-common;
    background-position: 100% 0;
}

.i-03-dims {
    width: 46px;
    height: 46px;
}

