html {
    // font-size: 10px;
}

body {
	font-family: var(--ff-default), Helvetica, Arial, sans-serif;
	font-size: var(--fz-default);
    font-weight: var(--fw-default);
	line-height: var(--lh-default);
    color: var(--text-color-default);
	min-width: 360px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    &._lock {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

.wrapper {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    flex: 0 0 auto;
}

main {
    flex: 1 1 auto;
}

[class*="__container"] {
    margin: 0 auto;
    max-width: var(--container-w);
    padding: var(--sp, 0) 10px;
    width: 100%;
}

.svg-sprites-pack { display: none; }

svg.sprite {
    height: 100%;
    width: 100%;
}

.lazy {
    background: center / contain no-repeat;
}

.hidden {
    display: none;
    overflow: hidden;
}