:root {
    // default typography 
    --ff-default: "Gilroy";
    --fz-default: 1rem;
    --fw-default: 400;
    --lh-default: 1.4;
    --text-color-default: #333333;
    // --container-w: 1260px;
    --container-w: 126rem;
    --sp: 50px; 
    @include tablet {
       
    }
    @include mob {
       
    }
}
