@import 'common/_settings';

body {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    font-family: Arial;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    flex-shrink: 1;
    flex: auto;
}

@import '_sections';