doctype html
html(lang="uk")
    include pug/common/_head.pug
    
    body 
        .wrapper 
            form
                label(for="name") Name
                input(id="name" type="tel" name="home-phone" autocomplete="section-red name")
                label(for="email") Email
                input(id="email" type="tel" name="home-phone" autocomplete="section-red email")
                label(for="phone") Phone
                input(id="phone" type="tel" name="home-phone" autocomplete="tel")
                p hello
            .svg-sprites-pack
                include pug/common/_sprite.svg

            include pug/common/_scripts.pug
            
 
//- #all {  }