doctype html
html(lang="en")
    include pug/common/_head.pug
    
    body 
        .wrapper 
            include pug/_header.pug
            include pug/_footer.pug

        script(src="js/libs.js")
        script(src="js/script.js")
