doctype html
html(lang="uk")
    include pug/common/_head.pug
    
    body 
        .wrapper 
            include pug/_header.pug
                
            include pug/_footer.pug
            include pug/common/_scripts.pug