doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .wrapper 
            .header 
                .container 
                    .header__inner
                        .header__top 
                            | hello, i am top 
                        .header__middle
                            | hello, i am middle
                        .header_item
                            | item 10

            section#hero.hero
                .container
                    .hero__inner
                        .hero__left 1
                        .hero__right 2
                        .hero__bottom 3
                        .hero__top 4
                        

            section#about.about
                .container
                    .about__inner
                        p hello



