@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix')   format('embedded-opentype'),
             url('#{$file-path}.woff')         format('woff'),
             url('#{$file-path}.woff2')        format('woff2'),
             url('#{$file-path}.ttf')          format('truetype'),
	}
}

@mixin desktop { @media (min-width: 1261px) { @content; } }
@mixin tablet { @media (max-width: 1260px) { @content; } }
@mixin mob { @media (max-width: 760px) { @content; } }

@function px($val) {
    @return calc($val / 10) + rem;
}