head
    title Document
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // SEO
    meta(property="og:title" content="Title")
    meta(property="og:description" content="description")
    meta(property="og:image" content="")
    meta(property="og:url" content="")

    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet", href="css/style.css")